.site-preview {
  --text: white;
  --background-color: #214280;
  --highlight-color: #d14124;
  --border-color: #37558d;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.site-preview a {
  color: var(--text);
  text-decoration: none;
}

.site-preview__main {
  position: relative;
  z-index: 4444;
  display: flex;
  align-items: flex-end;
  width: 100%;
  min-height: 200px;
  padding: 2.25rem 1.5rem;
  overflow: hidden;
  text-align: right;
  background-position: 50%;
  background-size: cover;
  opacity: 1;
  transition: opacity 0.4s;
}

.site-preview__main::before,
.site-preview__main::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
}

.site-preview__main::before {
  background-color: rgba(53, 53, 53, 0.3);
  transition: background-color 0.2s;
}

.site-preview__main::after {
  background-color: var(--background-color, #214280);
  border-right: 0.25rem solid var(--highlight-color, #d14124);
  opacity: 0.8;
  transition: transform 0.4s ease;
  transform: translateX(-100%);
}

.site-preview__main:hover::after {
  transition: transform 0.4s ease;
  transform: translateX(0);
}

.site-preview__main-inner {
  width: 100;
  margin-top: auto;
  margin-left: auto;
}

.site-preview__title,
.site-preview__description {
  position: relative;
  z-index: 2222;
  margin-bottom: 0.25em;
  color: #fff;
  text-shadow: 2px 2px 10px rgba(53, 53, 53, 0.9);
}

.site-preview__title {
  font-size: 1.682rem;
  line-height: 1.06;
  text-transform: uppercase;
  transition: transform 0.6s;
  transform: scale(0.95) translateY(3rem);
}

.site-preview__main:hover .site-preview__title {
  transform: scale(0.95) translateY(0);
}

.site-preview__description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1;
  opacity: 0;
  transition: opacity 0.3s ease 0.3s;
  transform: scale(0.95);
}

.site-preview__main:hover .site-preview__description {
  opacity: 1;
}

.site-preview__nav {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--background-color, #214280);
}

.site-preview__nav-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.19;
  color: #fff;
  text-transform: uppercase;
  background-color: #214280;
  border: none;
  border: 1px solid var(--border-color, #37558d);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: background-color 0.2s;
}

.site-preview__nav-item:hover {
  background-color: #1e3b73;
}

.site-preview__nav-item::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: block;
  width: 4px;
  content: "";
  background-color: var(--highlight-color, #d14124);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  transition: transform 0.3s;
  transform: translateX(5%);
}

.site-preview__nav-item:hover::after {
  transform: scaleX(1.5) translateX(33%);
}

@media screen and (min-width: 768px) {
  .site-preview__main {
    flex: 0 0 75%;
    max-width: 75%;
    min-height: 320px;
  }

  .site-preview__main-inner {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .site-preview__title {
    font-size: 2.888rem;
  }

  .site-preview__nav {
    flex: 0 0 25%;
    flex-direction: column;
    max-width: 25%;
  }
}

@media screen and (min-width: 992px) {
  .site-preview__main-inner {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}
